<!DOCTYPE html>
<html lang="zh_TW"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>柯一正：認真的遊戲者 (郝明義、 陳季芳)</title>
<meta charset="utf-8">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JS -->

<meta name="description" content="兩年以前，柯一正是我最想認識的人。
在反黑箱服貿的早期階段，我一直努力聯結各種我想到的社會力量。除了我自己所在的出版產業之外，我聯結上以鄭秀玲代表的學術界力量，還有以g0v為代表的網路力量。那之外，我最想聯結的，就是洪仲秋案所呼喚出來的白色力量，還有柯一正帶頭的反核力量。" />

<meta property="og:image" content="http://twunbound.github.io/images/006-01.jpg" /> 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- ENDS Flex Slider -->
<!--[if IE 6]>
<link rel="stylesheet" href="css/ie6-hacks.css" media="screen">
<script src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="/css/lessgrid.css">

<link rel="stylesheet" media="all" href="/css/style.css">

</head>
<body>




<!-- mobile-nav -->
<div id="mobile-nav-holder">
  <div class="wrapper">
    <div id="nav-open"><a href="/">首頁</a></div>
  </div>
</div>
<!-- ENDS mobile-nav -->
<header class="header-2">
  <div class="wrapper"> <a href="/" id="logo"><img src="/images/logo.png" alt=""></a>
    <nav>
      <ul id="nav" >
         <li><a href="/">首頁</a></li>
         <li><a href="/#candidate">我們所"看見"的候選人</a></li>
      
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
<!-- MAIN -->
<div id="main">
  <!-- social -->
  <div id="content">
    <div class="header" >

      <a name="users" id="#candidate"></a>
      <div class="pull-right">
        <div class="fb-like" data-href="http://twunbound.github.io/view/imagelephant" data-layout="button_count" data-action="like" 
        data-show-faces="true" data-share="true"></div>
      </div>

      <h2 class="article-title">柯一正：認真的遊戲者</h2>
      
      <p class="article-author">
        作者：<a  target="_blank" href="https://www.facebook.com/rexhow.dna/">郝明義</a>、
          陳季芳
      </p>

      <p class="article-time">2015/12/24 13:00 </p>
      <p>&nbsp;</p>
      <div class="newpowerparty"> 
        <span class="label label-success">時代力量</span>
        <span class="label label-success">不分區</span>   
      </div>

    </div>
    
    <hr />

    <div class="news-content "  >

      <img class="news-photo-1" src="/images/006-01.jpg" alt="柯一正" />

      <blockquote>台灣要生存得好，必須做到三件事：環境好、人的素質好、道德好。</blockquote>

      <h4 class="start"> 郝明義看到的這個人</h4>

      <p>　</p>
      <p>就生理年齡來說，柯一正不但不年輕，而且是這些我訪問的人裡最年長的。但他的心則在另一端。</p>
      <p>　</p>
      <p>兩年以前，柯一正是我最想認識的人。</p>
      <p>在反黑箱服貿的早期階段，我一直努力聯結各種我想到的社會力量。除了我自己所在的出版產業之外，我聯結上以鄭秀玲代表的學術界力量，還有以g0v為代表的網路力量。那之外，我最想聯結的，就是洪仲丘案所呼喚出來的白色力量，還有柯一正帶頭的反核力量。</p>
      <p>柯一正和我有許多共同朋友。雖然我不難找人介紹而早些認識他，甚至我很早就有了他的聯絡方法，但是我一直把他留到最後才結識。</p>
      <p>最重要的原因在於，我認為反黑箱服貿力量如何和反核力量結合，是極為關鍵的一步。很奇怪的，通常我在事情並不明朗時，經常先接觸先討論，然後逐漸理出頭緒。但是想到要聯絡柯一正，卻正好相反。不知怎麼，我總覺得沒整理出一定的頭緒就先去認識他，有些浪費。</p>
      <p>　</p>
      <p>2014年3月17日，我在蘋果日報上發表了一篇＜服貿就是經濟的核四＞。我覺得那篇文章比較整理出服貿和核四的關聯，也到了可以和柯一正聯絡的時候。</p>
      <p>　</p>
      <p>當時我人在紐約，就寄了文章請他指教，也用簡訊和他聯絡。</p>
      <p>　　</p>
      <p>柯一正回得很快，也很直接。顯然他也有和我同樣的感覺。他也同意該合起來做些事，但是「要做就得真有作用」。我們根本沒來得及討論如何「要做就得真有作用」，當天下午立法院就爆發了張慶忠三十秒事件。我們好不容易接上頭的合作，看來要泡湯了。</p>
      <p>但沒過多久，第二天，紐約一個春光明媚的下午，我收到了柯一正發給我的簡訊。最早告訴我學生衝進立法院的，正是他。我們開始頻繁地簡訊聯絡。第一時間就進入立法院和學生守在一起的柯一正，成了我的最佳現場解說員。</p>
      <p>　</p>
      <p>這樣，直到後來我回台北，才終於和他在實體世界見面。到台北第一天晚上應邀去為學生演講的時候，柯一正就是引言人。可那時連「一見如故」都不算了，比較更像是老友重逢。</p>
      <p>之後，不論太陽花、反核，或遇上其他重要議題，我們的聯絡就不在話下。關鍵時刻，我就找他，請教一下他的意見。</p>
      <p>　</p>
      <p>因為我和柯一正的交集都在公共事務上，在私人和業務上少有接觸，所以我對他的認識主要從他的公眾活動而來。</p>
      <p>　</p>
      <p>這方面，我看到的是柯一正兼顧溫和和堅韌的特質。太陽花學運期間，他從第一時間就在立法院有了一個自己的戰情中心後，一直守到最後學生退場才離開。柯一正辦「不要核四・五六行動」，持續一年，風雨無阻，更是大家所熟知的。 </p>
      <p>　</p>


      <p>正因為他對我而言有很多已知，也有更多未知，所以我對他也不免好奇。直到經過了兩年多，在他成為時代力量不分區立委候選人之後，有一天我和他午餐，頭一次問起他怎麼經營自己的影視製作公司。他跟我說明了他如何讓公司裡的人自己負責經營還不斷成長，而他自己卻又可以得到許多參與公民行動的時間和空間。</p>
      <p>　</p>
      
      
      <img class="news-photo-1" src="/images/006-02.jpg" alt="柯一正" />

      <p>秘訣到底在哪裡？</p>

      <p>很簡單：就是很不著痕跡地對別人多讓一些。讓利給客戶、讓利給員工，讓到當老闆的還拿得比較少。他真有一套很完整的想法和方法。</p>
      <p>　</p>
      <p>「這樣我才能有時間在外頭做我自己想做的事啊。」說著，他就帶出了自己特有的笑聲。說特有，是說他的笑聲裡經常有那麼一點自嘲和自得的綜合體。會讓人聯想到遊戲中自得其樂的笑聲。</p>
      <p>　</p>
      <p>我想了一陣子該怎麼形容他的心有多年輕。後來想到該這麼說：他有一顆遊戲的心。</p>
      <p>　</p>
      <p>318學運的時候，我們辦一個「人人都有太陽花」的活動，鼓勵大家以太陽花為題材來創作。柯一正才剛說要提供一個作品，馬上就傳來一張他像是練成如來神掌的照片。</p>
      <p>　</p>
      <p>柯一正是個遊戲者。</p>
      <p>認真的遊戲者。</p>
      <p>　</p>

      

    <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
    <h4>聽聽柯一正說的話</h4>

    <p>&nbsp;</p>
    <p>台灣現在最重要的，就是要支持年輕的力量參與政治，進行改革。</p>
    <p>之前，我本來就想和吳乙峰巡迴全台各地，幫時代力量找區域候選人，在全台各地找滿十個人，造成每個地方都有人參選的聲勢。</p>
    <p>　</p>
    <p>但後來實際跑下去，發現可能會有許多意料不到的問題，就打住了。</p>
    <p>但也因為這樣，所以黃國昌說要來找我的時候，就知道他找我是什麼事，也不想迴避。我就同意擔任時代力量的不分區立委候選人，不過，我說，排名把我排到最後一名就好。</p>
    <p>　</p>
    <p>前一陣子，我和聯合國一位退休人士談。他說，台灣要生存得好，必須做到三件事：環境好、人的素質好、道德好。</p>
    <p>人的素質要好，道德要好，就得心靈改革，不要把越南茶賣給對岸，也不要去越南買瓷器來賣，結果搞得本末倒置，大家都不願意燒窰。</p>
    <p>&nbsp;</p>
    <p>選舉也是。‪</p>
    <p>&nbsp;</p>
    
    <p><b>‎政治人物都只想做四年一次你看得到的事‬</b>。或者，決定四年後不連任了，就各現「貪」通。</p>
    <p>　</p>
    <p>道德要好，也得有些配套的辦法。像日本，他們棒球之成為國球，就是政府不准黑道來染指。誰來搞球員簽賭，就破你組織。</p>
    <p>台灣也有些例子。以公車排隊為例。1960年代，我讀初中的時候，台灣搭公車還是不排隊的。記得當時只有學校附近有教官維持秩序，其他地方都得擠公車。而我因為不想擠公車，一班班看它來了又走，經常會兩個小時都搭不上公車。所以經常遲到。</p>
    <p>可是開始規定照公車車牌靠右排之後，1970年代開始，如果你不排隊，小孩會嘟嚷的。所以就是要有些清楚的規定。一旦人的素質好、道德好之後，像朱立倫就不敢輕易忘記他說過的「做好做滿」。</p>
    <p>這樣，也可以使得連對岸的人都覺得保留台灣比較好。</p>
    <p>　</p>
    <p>至於我自己想推動的政策，有幾點。</p>
    <p>　</p>

    <img class="news-photo-1" src="/images/006-03.jpg" alt="柯一正" />

    <ul style="padding-left:20px;">
  
    <li><p>第一，有關防治空氣污染。</p>
    <p>12月26 日，中南部的人都要上台北來反空污了。這真是個嚴重問題。牽涉到的不只是火力發電、台塑的六輕，還有水源保護、工廠就地合法化等種種問題。</p>
    <p>以後勁為代表，很多人都趁颱風天排污水、燒核廢料。</p>
    </li>

    <li>
      <p>第二，再生能源的開發，以及電廠可以民營。</p>
    </li>
    <li>
      <p>第三，保護農地、林地、農民 。‪<b>‎今天台灣已經搞到沒有農地可耕‬</b>。接下來應該該保護的都保護。‪<b>‎過去的政府可能把自己當臨時政府看‬</b>，可以隨時回去，所以會在空中灑農藥，卻不知農藥是百年不滅。‪<b>因此我們也要宣導無毒農地‬</b>。我們「有機」很難，只能「無毒」。</p>
    </li>
    
    <li>
      <p>第四，政府透明化。除了軍事外，一切透明。以免中飽私囊 ， 也好把資源再分配給人民。</p>
    </li>
    <li>
      <p>第五，和我的專業有關。就影視產業來說，各國都有特別的輔助政策。譬如錄音去泰國，沖印去澳洲等等。所以政府應該整合資源來協助影視去國外。</p>
    </li>
    <li>
      <p>第六，各地蚊子館多，馬上開始 ，廢校也會多。這些地方，其實可以轉換為文化人可用的場地。因為文化人可以回饋，做地方服務、教育活動。</p>
    </li>
    </ul>
    
    <p>　</p>
    <p>至於貿易，我只有一個想法：‪<b>‎不能只靠對岸‬</b>。</p>
    <p>這次選舉，民進黨聲勢浩大。但無論如何，我們應該鼓勵大家把政黨票，至少首投族的年輕人政黨票，應該投給時代力量。</p>
    <p>　</p>
    <p>對於政黨票是什麼，我有個很簡單的解釋。就是即使你那一區沒有候選人，也可以投的票。</p>
    <p>　</p>
    <p>我也做了一則影片，叫作<a href="https://www.youtube.com/watch?v=QCZCf2W7iAA" target="_blank">「時代力量是個黨」</a>，上了Youtube。請大家看看。</p>

<hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<h4>陳季芳的側記 </h4>


<p>柯導演是個看世情很透的人；從參與反核開始，逃不了標籤，也擺脫不了政治，他知道黃國昌一定會找他，所以黃國昌一提，他也不矯揉造作，一口就答應列入時代力量的不分區立委名單。</p>
<p>但他也不強求，就擺在邊緣的邊緣吧。</p>
<p>他是第一次參與選舉，完全不曉得難處在哪裡；時代力量的政黨票要多少，他才能當上立委，也搞不太清楚，「二百萬票吧，還是一百五？」他不在意。「這樣，我反而能認真選舉，不知道結果嘛。」</p>
<p>他和吳乙峰導演，本來有個計畫，想在全台各地找切切實實做事的素人，系列拍出他們的故事，也鼓勵他們出來選舉──當選不是目標，讚美才是，「這是人的品質。」但這計畫太大，選前是做不到了。</p>
<p>柯導演很講究人的品質，他說，台灣能在華人世界裡生存，唯一的辦法，就是提升人的品質，與環境品質、生活品質並進，讓台灣變成寶，變成珍珠，這也是只有台灣能做到的。</p>
<p>他說，他小時候，大家搭公車是不排隊的，後來有一天，大家突然都排隊了。他認為這是有一股共同的力量，提升了生活的品質，但也是人的品質要夠好。</p>
<p>&nbsp;</p>
<p>不管進得了進不了立法院，他要做的就是這個，把人的品質宣揚出來，推動生活、環境品質。「做得到的。」他說。</p>


    </div>

    <div style="padding:24px;">
      <div class="fb-post" data-href="https://www.facebook.com/imagelephant/posts/10152803490757465" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/imagelephant/posts/10152803490757465">由<a href="https://www.facebook.com/imagelephant">柯一正</a>貼上了&nbsp;<a href="https://www.facebook.com/imagelephant/posts/10152803490757465">2015年12月23日</a></blockquote></div></div>
    </div>
    
    <div class="article-footer" style="padding:24px;">
      <a target="_blank" href="https://donate.pay2go.com/npp/donate" >捐款支持時代力量</a><br />
      <br />
      <br />
      <a href="/view/ivotefreddy" >上一篇：林昶佐：奔放中的冷靜</a>
      <br />
      <br />
      <a href="/view/LawyerCo" >下一篇：柯劭臻：風暴中挪動一吋吋腳步</a>
      <br />
      <br />
      <a href="/" >看所有採訪文章列表</a>
    </div>

    <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<div style='padding:24px'>
  <h4>網友迴響</h4>
  <div class="fb-comments" data-width="100%" data-href="http://twunbound.github.io/view/imagelephant" data-numposts="6"></div>
</div>
  </div>
  <!-- ENDS content -->
  <div class="clearfix"></div>
  <div class="shadow-main"></div>
</div>
<!-- ENDS MAIN -->
<footer style="clear:both;">
  <div class="wrapper">
    <section id="copyright">
      <p>本站內容採用 CC BY-NC-SA 3.0 授權分享。</p>
      <p>採訪：郝明義、陳季芳；LOGO 設計：Akibo</p>
      <p>網站設計：知名不具；<a href="https://github.com/twunbound/twunbound.github.io">Fork me on github.</p>
    </section>
    <div class="clearfix"></div>
  </div>
  <div id="to-top"></div>
</footer>
<div id="fb-root"></div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67262972-3', 'auto');
  ga('send', 'pageview');

</script>

</body></html>