<!DOCTYPE html>
<html lang="zh_TW"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>林昶佐：奔放中的冷靜 (郝明義、 陳季芳)</title>
<meta charset="utf-8">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JS -->

<meta name="description" content="這麼說，我所知道的林昶佐，有三種身分或個性。
　
首先，是閃靈樂團那個舞台造型眩目的Freddy。 
　
再來，是那個決定披著時代力量的戰袍參選立委後的林昶佐，看板上素淨白襯衫看來是個健康寶寶，但是沒什麼笑容，顯得冷靜，甚至有些冷淡。" />

<meta property="og:image" content="http://twunbound.github.io/images/005-04.jpg" /> 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- ENDS Flex Slider -->
<!--[if IE 6]>
<link rel="stylesheet" href="css/ie6-hacks.css" media="screen">
<script src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="/css/lessgrid.css">

<link rel="stylesheet" media="all" href="/css/style.css">

</head>
<body>




<!-- mobile-nav -->
<div id="mobile-nav-holder">
  <div class="wrapper">
    <div id="nav-open"><a href="/">首頁</a></div>
  </div>
</div>
<!-- ENDS mobile-nav -->
<header class="header-2">
  <div class="wrapper"> <a href="/" id="logo"><img src="/images/logo.png" alt=""></a>
    <nav>
      <ul id="nav" >
         <li><a href="/">首頁</a></li>
         <li><a href="/#candidate">我們所"看見"的候選人</a></li>
      
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
<!-- MAIN -->
<div id="main">
  <!-- social -->
  <div id="content">
    <div class="header" >

      <a name="users" id="#candidate"></a>
      <div class="pull-right">
        <div class="fb-like" data-href="http://twunbound.github.io/view/ivotefreddy" data-layout="button_count" data-action="like" 
        data-show-faces="true" data-share="true"></div>
      </div>

      <h2 class="article-title">林昶佐：奔放中的冷靜</h2>
      
      <p class="article-author">
        作者：<a  target="_blank" href="https://www.facebook.com/rexhow.dna/">郝明義</a>、
          陳季芳
      </p>

      <p class="article-time">2015/12/23 16:00 </p>
      <p>&nbsp;</p>
      <div class="newpowerparty"> 
        <span class="label label-success">時代力量</span>
        <span class ="label label-success">台北市中正、萬華區</span>  
      </div>

    </div>
    
    <hr />

    <div class="news-content "  >

      <img class="news-photo-1" src="/images/005-03.jpg" alt="林昶佐" />

<blockquote>如果我們不站出來，難道大家的努力都終歸沒入傳統政治的板塊嗎？ </blockquote>

<h4 class="start"> 郝明義看到的這個人</h4>

<p>這麼說，我所知道的林昶佐，有三種身分或個性。</p>
<p>　</p>
<p>首先，是閃靈樂團那個舞台造型眩目的 Freddy。 </p>
<p>再來，是那個決定披著時代力量的戰袍參選立委後的林昶佐，看板上素淨白襯衫看來是個健康寶寶，但是沒什麼笑容，顯得冷靜，甚至有些冷淡。</p>
<p>　</p>
<p>最後，是我在訪問過程裡所看到的林昶佐。</p>
<p>那一天，我們還是從音樂談起。我問他，閃靈，是否能再去中國大陸演唱而開始的。</p>
<p>他說，中國到 2013 年還有人來邀請，可是他從 2002 還是 2003 年開始，就知道不能去表演了。「但音樂比較跨國界，因為為了要去對岸，就不想其他的地區，也很奇怪。」</p>
<p>林昶佐分析，每一種音樂都有自己最重要的市場。像美國是嘻哈，德國很多人聽前衛電子。而閃靈，因為是重金屬搖滾，所以德國、英國都很重要。</p>
<p>「我們只做歐洲、日本，是會賺錢的。可是我們還到東南亞去，別的地方都去 。」他說，「哪裡有人喜歡你的音樂就去哪裡表演，這是多快樂的事。不能只想著賺錢。」</p>
<p>這樣，聽他講小時候，混光華商場，聽各種音樂；講他十八歲的時候突然發現教科書「偷走了」他的生命而痛哭； 那張競選看板照片上冷靜的林昶佐，逐漸生動起來。尤其難得的是，生動，而不激動。</p>
<p>這麼一個愛自己想做什麼就做什麼的人，卻做起了時代力量創黨期間的第一任負責人，後來踏上了競選立委的路，當然有個轉折。</p>
<p>　</p>
<p>「318之前，我比較灰暗，在FB上寫的東西也很灰暗。我覺得台灣人已經是怎麼樣的現實都會接受了。」林昶佐說。「可是 318 那一天，我突然接到歌迷傳來的訊息，說他們已經衝進立法院了，問我還在幹什麼。」</p>
<p>　</p>
<p>林昶佐說，318 對他最大的震動，是看到那麼人站出來，大家不再只是為了挺扁，或是挺馬，也不再迷信明星。</p>
<p>所以，後來他覺得自己可以付出一些關鍵的力量。不只是音樂，不只是表演。</p>
<p>　</p>
<p>「我擔心318只成為歷史，沒發揮它對社會應有的影響力。」林昶佐說，「而且我對某些民進黨的人士，也有信任的距離。」</p>
<p>他說話的語調一直保持著一個適當的起伏，不是舞台上 Freddy 那種激昂，但也不是看板照片上的那種嚴肅。不過，倒也是這種起伏的語調，十分能傳達接下來他講這段話想表達的意思： </p>
<p>　</p>
<p>「所以隨著 2016 大選的到來，我擔心如果我們再不努力，選後大家就忘了這段時間發生了什麼，而只剩下蔡英文。如果我們不站出來，‪<b>難道大家的努力都終歸沉入傳統政治的板塊嗎</b>‬？我們努力的，就是要打破傳統，否則去支持民進黨就好了。」</p>
<p>所以，林昶佐一個個打電話給他們，現在他們都各自協助，進入工作團隊。</p>
<p>　</p>

<p>今年一月初，林峰正和林世煜來問是否參選，他考慮沒多久就答應了，並成為時代力量創黨時期的負責人。我問他：就不擔心這個工作所要具備的特質，和他過去所善長的有些矛盾？</p>

<p>　</p>
<p>「不會啊。」他說，「我當過國際特赦組織台灣分會的兩任會長。我知道做團體工作是怎麼回事。對我相信的事情，我很有耐心去溝通。這是我的特質。」</p>
<p>　</p>
<p>他說的是真的。</p>
<p>因為後來當我訪問時代力量另一位不分區候選人高潞・以用的時候，她跟我旁證了林昶佐的「耐心」。原本她並沒有打算參選，但是在林昶佐的磨工之下，答應考慮兩個星期再說。但是在那兩個星期裡，林昶佐仍然每天定時來「請安」，終於讓她不同意都不行。</p>
<p>黃國昌在時代力量的組黨運動裡面，一直是以戰友的身份參與，早期幾個月一直沒有下定決心要入黨、投入參選，也是林昶佐與幾個人努力遊說他了幾個月。</p>
<p>在生命數字裡， 4 和 5 是兩個截然不同的數字。5 是火熖一樣的自由奔放， 4 卻是冷靜如水的秩序。</p>
<p>那天我順著他的話，問他日常的起居，知道他在樂團生活就保持的每天固定的運動、會議、創作的作息，知道他兼備了這兩個數字的特質。</p>
<p>舞台上的 Freddy 是那個 5 ，看板上冷靜的林昶佐是 4 ，而真實地在你面前說話的那個人，是 4 和 5 的綜合體。</p>

<hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />

<h4>聽聽林昶佐說的話</h4>
<p>　</p>
<p>‪<b>‎三十五歲在台灣是個分界線‬</b>。</p>
<p>三十五歲以上，可以複製上一代的成功模式，甚至學長的教誨而成功。而三十五歲以下，他們的問題，上一代沒有解答。他們就算是相信上一代，上一代告訴他們的事情也發生不了。</p>
<p>所以，他們要自己尋找解答。而他們的衝撞，其實是在幫這個社會找解答。</p>
<p>　</p>
<p>我的年齡比他們大一些，今年三十九歲。過去，2002 年左右，當我們樂團被中國封殺，我開始講政治觀念時，當時的年輕人會說你講這些幹嘛。可是到去年 318 ，卻是年輕人提醒我：「你怎麼還不來？」</p>
<p>真是不同世代的年輕人。而這些年輕人並沒有被公平地對待。</p>
<p>台灣國會裡面充滿了 60~ 70 歲的代表 。‪<b>‎國會的年齡原比台灣真實社會的年齡還要老‬</b>，原比這幾年帶動社會進步的力量還要老，無法反應社會真實的現況，無法面對新時代的問題。</p>
<p>我決定投入政治，決定參選，是因為有兩個信念：</p>
<p>第一，自己投入、自己實踐，並且鼓勵大家。因為我的勇氣是你們啟發的。這樣投入，讓我感到可以和你們保持同樣的行動，很幸福。</p>
<p>第二，到明年一月十六日選舉結束，我希望我們不是利用民主勝選，而是利用民主開始。</p>
<p>任何人都不能因為你是總統，你超過國會一半，就不和人民溝通了。</p>
<p>任何人曾經指責過別人沒做的事，罵別人犯的錯誤，都要親自實踐、親自調整。</p>
<p>　</p>
<p>我也要去做所有我罵那些政客沒有做到的事。</p>
<p>要選舉，我認為就該走兩條路。</p>

<img class="news-photo-1" src="/images/005-02.jpg" alt="林昶佐" />
<p>　</p>
<p>一條路是站對歷史位置。如果黃國昌能對上張慶忠，那就是最好的位置。</p>
<p>另一條路，就是選擇你長大的家所在的區域。</p>
<p>　</p>
<p>我從小在台北的忠孝東路、新生南路那一塊地方長大，從小在光華商場混，所以我就選擇了在中正、萬華區參選。這是個很有意思的區。區裡有光華商場的 3C ，很走在時代前端的東西，也有萬大的傳統農漁市場，老化、凋零，也在這裡發生。</p>
<p>　</p>

<p>所以我覺得，一個政治人物如果能在中正、萬華區找到平衡，也就可以在全國找到平衡。</p>
<p>這個區，又是所謂藍大於綠的區。過去，國民黨總會勝 12~13% 。去年柯P雖然在本區大勝，但是市議員還是國民黨勝。</p>
<p>國民黨在這個區的組織十分穩固。像林郁方，總說自己是國防立委，但他其實是這個區選出來的。這個區大部份人都搞不懂林郁方是代表這個區，也不知道他為這個區做了些什麼，過去他還能選上，就可以知道國民黨在這裡的組織戰很有效。</p>
<p>可是我不服氣這是「艱困區」。這是我家。我既然要選，就從這裡開始。我既然要選，就不能跳過「那些不是我的人」。像有一個麵攤老板，他喜歡戴馬英九的帽子。可我是從小吃他的麵長大的。我要選，當然就得去見他。</p>
<p>　</p>
<p>我必須從家庭、親朋好友做起。如果連他們都沒法說服，如何說服其他人？</p>
<p>　</p>
<p>對和別人溝通這一點，我倒有自信。‪<b>‎我有在國際特赦組織工作的經驗‬</b>。當初台灣分會是分裂的，但是在我當分會會長的那四年，我把大家都邀請回來。在我的選區，我也會這麼服務。</p>

<p>譬如，捷運萬大線落後很大，有些是源自徵收問題，同時這裏也還有都更的問題。</p>
<p>這個區有很多老舊房子，像南機場，要都更，需要在住戶、地主、建商之間溝通。他們之間需要溝通，而溝通好了之後，要如何安置，還是要另外溝通。而我對我相信的事情，非常樂意溝通，也有耐心溝通。
</p>

<img class="news-photo-1" src="/images/005-04.jpg" alt="林昶佐" />
<p>我的對手，在各種資源上，尤其組織上佔有極大的不對等優勢。但我們也全力打出我們日漸上升的局面。</p>
<p>有些媒體說我們擅長網路作戰。但事實不是他們所看到的。我們有各種後援會在跑基層。我們也辦音樂會、講座，驅動年輕人的熱情，請他們回去說服父母。簡單地說，我們是網路戰、肥皂箱和組織戰，三合一。</p>
<p>到十二月初，我們已經看到民調從最早的輸 13% 左右，一路追趕到只差林郁方 5% 以內了。</p>
<p>林郁方可能因為這些壓力，所以看到我一張「坑殺軍眷共犯」的文宣就告我毀謗，還拿他全家人罰毒誓，說絕沒有購買軍宅。</p>
<p>其實，我的文宣只是指出林郁方自稱是軍眷族群代表，但是對王如玄坑殺軍眷卻默不吭聲的問題。我從來沒有說林郁方購買軍宅，因此希望他不要跟王如玄一樣模糊焦點。</p>
<p>最後，我要說的是，將來如果我進立法院，希望能改變的事情，除了有時代力量共同主張的國會改革、公開透明、公民權與罷免法的下修之外，我自己最想參與的是教育委員會，和教育相關的議題。</p>
<p>‪<b>‎我對教育有特別的感受‬</b>。</p>
<p>我相信大部分的人都知道教科書的東西不正常，但是因為要考試所以就硬唸。</p>
<p>我在讀高中的時候就是因為發現要讀那麼多和我們無關的中國歷史、地理的東西覺得不爽，所以就不唸，只有考試的時候想到來應付一下。 後來就慢慢有一種被學校、教育欺騙的感覺、人生被政府偷走的感覺，因為花那麼多時間在唸那些，不是自己身邊的事情。</p>
<p>大概是在高二、高三特別有感觸，就是為了考試只好硬唸，但是又覺得浪費時間很難過。我記得我高三畢業的時候，就大哭一場，就覺得人生十八年被這個政府偷走。 </p>
<p>既然今天已經不再有這種保證，那麼教育的重點就該是讓學生快快樂樂地成長。</p>
<p>當然，和快樂地成長相配合的，一定是安全地成長。</p>
<p>　</p>
<p>所以我也會特別重視校園安全。</p>


<hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<h4>陳季芳的側記 </h4>

<p>林昶佐比想像中老一點，看起來又年輕一點，有點不可捉摸。</p>
<p>他說，十幾年前他的音樂裡帶有政治的意味，樂迷很明白的說，只要音樂不要政治；去年 318 ，樂迷打電話給他，「我們進攻了立法院，你還不來？」世代在變，他得保持年輕。</p>
<p>他也是極老練的人，也許是帶團遠征世界各個搖滾聖地的緣故，非常講究時程。政治人物老於世故，組黨喊了半天，沒有動靜，他說，我們來排個時程吧。時代力量於焉誕生。</p>
<p>也所以，他萬華、中山的選區，他就一步一步的走，一家一家的拜訪。</p>
<p>明星的聲音和政治的腳力，同時出現在他身上了。</p>
<p></p>


    </div>

    <div style="padding:24px;">
    <div class="fb-page" data-href="https://www.facebook.com/ivotefreddy/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ivotefreddy/"><a href="https://www.facebook.com/ivotefreddy/">林昶佐 中正萬華關鍵戰將</a></blockquote></div></div>
    </div>
    
    <div class="article-footer" style="padding:24px;">
      <!-- 
      <a href="/view/lu-d-jie" >下一篇：呂東杰：隱俠出江湖</a>
      -->
      <a target="_blank" href="https://docs.google.com/forms/d/1WCmyebM5j0qd0HL6ArjNl5bLoM2rRTZC3CVrKvHgwDg/viewform?c=0&w=1" >捐款支持呂東杰</a><br />
      <br />
      <br />
      <a href="/view/MiaoPoya" >上一篇：苗博雅：冰下有火 </a>
      <br />
      <br />
      下一篇：柯一正（敬請期待）
      <br />
      <br />
      <a href="/" >看所有採訪文章列表</a>
    </div>

    <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<div style='padding:24px'>
  <h4>網友迴響</h4>
  <div class="fb-comments" data-width="100%" data-href="http://twunbound.github.io/view/ivotefreddy" data-numposts="6"></div>
</div>
  </div>
  <!-- ENDS content -->
  <div class="clearfix"></div>
  <div class="shadow-main"></div>
</div>
<!-- ENDS MAIN -->
<footer style="clear:both;">
  <div class="wrapper">
    <section id="copyright">
      <p>本站內容採用 CC BY-NC-SA 3.0 授權分享。</p>
      <p>採訪：郝明義、陳季芳；LOGO 設計：Akibo</p>
      <p>網站設計：知名不具；<a href="https://github.com/twunbound/twunbound.github.io">Fork me on github.</p>
    </section>
    <div class="clearfix"></div>
  </div>
  <div id="to-top"></div>
</footer>
<div id="fb-root"></div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67262972-3', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
