<!DOCTYPE html>
<html lang="zh_TW"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>柯劭臻：風暴中挪動一吋吋腳步 (郝明義、 陳季芳)</title>
<meta charset="utf-8">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JS -->

<meta name="description" content="之前沒見過她，知道的都是網上看來的一些資料：長期為環保議題抗爭的律師、人稱柯莉絲等等。近年來許多重大的環保與社會事件，如雲林鎘米、大埔、苑里反瘋車等等，都有她的參與。這樣，等她踏著有些急促的步伐趕到，我們開始談話，我在心底一直有個印象，和一句話在迴旋著..." />

<meta property="og:image" content="http://twunbound.github.io/images/007-01.jpg" /> 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- ENDS Flex Slider -->
<!--[if IE 6]>
<link rel="stylesheet" href="css/ie6-hacks.css" media="screen">
<script src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="/css/lessgrid.css">

<link rel="stylesheet" media="all" href="/css/style.css">

</head>
<body>




<!-- mobile-nav -->
<div id="mobile-nav-holder">
  <div class="wrapper">
    <div id="nav-open"><a href="/">首頁</a></div>
  </div>
</div>
<!-- ENDS mobile-nav -->
<header class="header-2">
  <div class="wrapper"> <a href="/" id="logo"><img src="/images/logo.png" alt=""></a>
    <nav>
      <ul id="nav" >
         <li><a href="/">首頁</a></li>
         <li><a href="/#candidate">我們所"看見"的候選人</a></li>
      
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
<!-- MAIN -->
<div id="main">
  <!-- social -->
  <div id="content">
    <div class="header" >

      <a name="users" id="#candidate"></a>
      <div class="pull-right">
        <div class="fb-like" data-href="http://twunbound.github.io/view/LawyerCo" data-layout="button_count" data-action="like" 
        data-show-faces="true" data-share="true"></div>
      </div>

      <h2 class="article-title">柯劭臻：風暴中挪動一吋吋腳步
</h2>
      
      <p class="article-author">
        作者：<a  target="_blank" href="https://www.facebook.com/rexhow.dna/">郝明義</a>、
          陳季芳
      </p>

      <p class="article-time">2015/12/24 20:00 </p>
      <p>&nbsp;</p>
      <div class="newpowerparty"> 
        <span class="label label-success">時代力量</span>
        <span class ="label label-success">不分區</span>  
      </div>

    </div>
    
    <hr />

    <div class="news-content "  >

      <img class="news-photo-1" src="/images/007-01.jpg" alt="柯劭臻" />

      <blockquote>台中的環境破壞已經夠嚴重了。台積電的新廠，會更進一步惡化這個問題。 </blockquote>

      <h4 class="start"> 郝明義看到的這個人</h4>


      <p>　</p>
      <p>十月三號，我去台中，開始了訪問時代力量和綠社盟立委候選人之旅。柯劭臻是我見的第一個人。</p>
      <p>那天很忙。先和護樹盟的 Angela Chang 見面。她帶我去豐原、東勢走了一趟，了解她們在胡志強時代抗爭豐勢快速道路，到現在支持林佳龍上台後竟然還要繼續抗爭的經過和原因。</p>
      <p>回到台中市，已經是晚上，然後就去飯店見柯劭臻。柯劭臻的一天顯然也很緊凑。她剛結束了上個行程在過來的路上，一個一直在跟拍她紀綠片的攝影師則先到了。</p>
      <p>　</p>
      <p>之前沒見過她，知道的都是網上看來的一些資料：長期為環保議題抗爭的律師、人稱柯莉絲等等。近年來許多重大的環保與社會事件，如雲林鎘米、大埔、苑里反瘋車等等，都有她的參與。</p>
      <p>　</p>
      <img class="news-photo-1" src="/images/007-02.jpg" alt="柯劭臻" />
      <p>這樣，等她踏著有些急促的步伐趕到，我們開始談話，我在心底一直有個印象，和一句話在迴旋著。</p>
      <p>後來想想，那是一種對「反差很大」的感慨。</p>

      <p>柯劭臻的個子不高，說話輕柔，和她長期在做那麼多第一線激烈的衝撞反差很大。她長期為環保投入這麼大心力，在社運界擁有很高的名氣，然而一旦投入選戰，她的知名度，以及能動員的資源，卻顯得十分單薄，也是反差很大。</p>
      <p>　</p>
      <p>「我單打獨鬪十幾年環保官司。九成都輸，輸了南屯溪、鎘污染、浮圳．．．．」她跟我說，「即使少數官司贏了，拖延時日，有些開發已成既成事實，環境已經破壞了，於事無補；有些雖然還沒有開發，但行政機關仗著行政方便，照樣施工。」</p>
      <p>　</p>
      <p>中科三期友達后里廠二階環評沒過，但他們堅持「停工不停產」。結果官司打八年，友達照樣經營八年。最後只能以和解收場。</p>
      <p>　</p>
      
      <p>「我本來很無力，都想移民了。」柯劭臻說，「但是碰到大埔案、318太陽花運動，看到年輕一代的崛起，公民運動的力量，才又看到希望，決心繼續奮鬥。」</p>
      <p>　</p>
      <p>只是這些經歷也讓柯劭臻體認到：如果一直在民間，也就是環保末端打官司，那打不勝打，效果有限。要真正產生有力的改變，就得走進立法院，從上游源頭改革，轉變政策，立法限制不當開發，不再靠打官司解決問題。所以柯劭臻從前年就開始參與了「公民組合」。但後來組合不成，她選擇了加入「時代力量」。</p>
      <p>　</p>
      <p>我問，使她真正決定參選的因素是什麼。</p>
      <p>　</p>
      <p>「今年二月，台積電在大肚山中科二期的擴廠計劃。」柯劭臻說。「台中的環境破壞已經夠嚴重了。台積電的新廠，會更進一步惡化這個問題。」</p>
      <p>　</p>
      <p>我是那天中午到的台中。事實上，當天下午已經見識了Angela 等人所抱怨的台中的「不見天日」。</p>
      <p>之前，我知道中部地區的空污嚴重，也知道這些空污的元凶是燒煤的火力發電，以及六輕。但我未曾意識到台積電這種半導體產業，也對中部地區的環境產生柯劭臻所說的那種破壞力。</p>
      <p>當時，柯劭臻還在參選台中北屯區的區域立委。她的政見也有許多，但是要我挑出印象最深刻的，還是她從台積電切入，對環保所提出的主張和政策。</p>
      <p>　</p>
      <p>柯劭臻分析給我聽，去年台積電認購一億度的綠能，和他們總用電75.2億度的不成比例。何況未來他們大肚山單一新廠一年就要用電40億度 。</p>
      <p>「台積電也該自己尋找能源。他們生產的晶片都給蘋果用，而人家蘋果是自行尋找乾淨能源的。台積電這麼賺錢的企業，也該這麼做。」柯劭臻說的這段話簡單明白。</p>
      <p>　</p>
      <p>當環保律師十多年，對財團、政府打官司十打九輸的柯劭臻，最終決定參與選舉，從政治來改變生態，竟然是被台積電所激發。</p>
      <p>　</p>
      <p>這讓我看到這麼一幅畫面：一個身材單薄的女子走在風暴之中，她的頭髮飛揚四散，她身上臉上的傷痕累累，她舉足維艱地挪動一吋吋腳步，走向一個體量龐然的巨人。</p>
      <p>　</p>


      <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />

      <h4>聽聽柯劭臻說的話</h4>
      
      <p>　</p>
      <p>今年二月，台積電中科廠給我的刺激很大。</p>
      <p>　</p>
      <p>台積電在大肚山新設的18吋廠，算是他們在中科一、二期的擴廠。之前，他們在中科二期就已經有一個12吋的第十五廠。為了建這個18吋廠，台積電砍了十五萬棵樹，大肚山破肚開腸。</p>
      <p>　</p>
      <p>其實，半導體業是個高耗能、高耗水、高污染的產業。美國是半導體的發源地，也是最早出現半導體產業污染及有害問題的地方。</p>
      <p>今天矽谷就設了39處土壤及地下水污染控制廠址。根據北美貿易協定的規定，美國的半導體業者必須明列廠房裡 600種可能有毒的元素。正因為半導體在美國受到這麼多拘束，所以他們才寧可讓其他管制沒那麼嚴的國家做代工。</p>
      <p>台積電能起來，和這個背景有很大的關係。而台灣的規定，台積電只要列出廠房裡64種有毒元素，比墨西哥都不如，墨西哥還得列出100 種。</p>
      <p>　</p>
      <p>半導體產業使用的有機溶劑，就是對人體健康有害元素的一個代表。不要看他們工作時候所穿的防塵衣，那是防止員工身上的塵垢帶進廠房，而不是防止員工免受廠房裡的有害物質污染。</p>
      <p>半導體業的污染及傷害，健康最先受影響的就是員工，再來是附近的居民。從癌症到不孕症到畸型兒的影響，都有。</p>
      <p>台積電這座18吋新廠，我們看到很多問題。譬如說，要做環評的時候，他們不肯提供18吋廠的規劃數據來評估可能的問題，而只肯提供12吋廠的數據來推估18吋廠可能的污染。但這種推估是不切實際的。</p>
      <p>還有，台積電的12吋廠有自己獨立的污水處理系統，但是他們這個新的18吋廠卻沒有，說是要和12吋廠共用。這也是我們沒法接受的。</p>
      <p>　</p>
      <p>所以我們提起了行政停止執行訴訟，要求台積電停工。但一審法院卻以 「沒有立即的危險」而駁回。這件事情讓我下定決心來競選。</p>
      <p>我最先是決定在台中北北屯選區參選區域立委。和每一個素人一樣，我也常被別人問：「為什麼不從里長選起？」很奇怪的是，大家卻不會拿同樣的問題去問政二代。沒有人問他們為什麼可以一下子就跳那麼高地選？</p>
      <p>　</p>
      <p>今年是極好的機會，國民黨特別無能，而年輕人前進國會、改革國會的呼聲又特別高。如果輸了的話，會浪費十年。到十一月的時候，我和台聯的劉國隆比了民調，最後由他在本區出馬。我自己則改任時代力量的不分區立委候選人。我因為對環保的長期關注，所以希望接下來在中彰投雲林繼續做好原來的環保工作，為時代力量爭取更多的政黨票。</p>
      <p>　</p>
      <p>而改善中部地區的空污問題，是我現在最重要的事。兩年前，雲林就要求六輕禁燒石油焦、煤。</p>
      <p>　</p>
      <p><b>燒石油焦和煤的許可證，是一發五年</b>。</p>
      <p>　</p>
      <p>去年選前，民進黨的雲林縣長候選人說他當選之後會馬上禁燒，不發許可證，但是等他真正當選上台，卻又延展兩年。矛盾的是，他又到縣議會要求制定禁燒石油焦與煤的自治條例，也真的通過了。</p>
      <p>　</p>
      <p>雲林禁燒之後，台中也跟進，但是在議會沒通過。奇怪的是，雲林禁燒之後，環保署說這涉及中央法令，地方政府不能用自治條例來禁燒。</p>
      <p>　</p>
      <p>我也會繼續就台積電的污染問題進行抗爭。最新的情況是，我們的停止執行打到最高行政法院，還是被駁回，仍然是說他們「沒有立即的危險」。</p>
      <p>　</p>
      <p>所以現在他們在進行地面施工了，我們等不到內政部訴願決定，已準備提起撤銷環評行政訴訟。</p>
      <p>但是以台中的空污這麼嚴重來說，台積電的18吋廠一旦開動，光他一家廠的用電量就是台中火力發電的十分之一。我們怎麼承受得起？</p>
      <p>　</p>
      <p>今年三月天下雜誌報導：台積電「事業廢棄物」出問題，負責處理的廠商隨意處理，造成污染，並且是等天下雜誌的記者去告訴他們的時候，台積電說他們才知道。這可能是他們推搪之詞，也可能是實情。所以最好的對應之道，是像他們應該自己有污水處理廠，所以他們也該自行處理「事業廢棄物」。</p>
      <p>　</p>
      <p>台積電也該自己尋找能源。他們生產的晶片都給蘋果用，而人家蘋果是自行尋找乾淨能源的。台積電這麼賺錢的企業，也該這麼做。</p>
      <p>　</p>
      <p>2014年台積電認購一億度的綠能，但是他們總用電是75.2億度，今年大約91 億度。而未來他們大肚山單一新廠一年就要用電40億度，所以他們購買綠能和他們的用電量是完全不成比例的。</p>
      <p>　</p>
      <p>今天（11月28日）林佳龍市長已經對台積電喊話，要他們增購綠能了。</p>
      <p>到年底，12月26日，全國和空氣污染的團體會到凱道做個大串聯，一起要求這些總統候選人給個交待。</p>
      <p>　</p>
      
      <img class="news-photo-1" src="/images/007-03.jpg" alt="柯劭臻" />
      <p>如果我能進國會，我的目標就是修既有的空污、水污法，進行真正的總量控制，而不是像目前一樣，只有環境影響評估法在做「增量控制」。</p>
      <p>　</p>
      <p>「增量控制」，是說一家工廠的水、空氣、致癌因素等，只要在10平方公里之內增加程度不超過百萬分之一，就可以。但這忽略了一個重要問題：如果這個地區原先的污染早就已經超過標準，那麼即使新製造的污染不超過原有的百萬分之一，又有什麼意義？</p>
      <p>　</p>
      <p>目前的空氣污染法，有規定「總量控制」。但是第一，沒有面積的規範；第二，實際要不要進行總量控制，得先經過經濟部同意。而過去經濟部從沒同意過。</p>
      <p>直到今年六月，只有高屏地區公告有總量控制。但是高屏的總量控制沒有意義，因為他們是以整個高屏來做總量控制。做這麼大面積的污染總量控制是沒有意義的。</p>
      <p>　</p>
      <p>因為面積太大，某些地方的污染再嚴重，也被其他地方平均起來中和掉了。</p>
      <p>同樣的，中部要做總量控制，也不能做整個中彰投的總量控制。</p>
      <p>要做污染的總量控制，就得做 10平方公里之內的小面積的總量控制。只有針對一塊一塊小面積的地方來做污染的總量控制，才能逐步改善問題。</p>
      <p>　</p>
      <p>我也會針對工業區設置進行修法，使他們</p>
      <p>　</p>
      <ul style="padding-left:30px;">
        <li>
        <p>新廠設置更嚴格</p>
        </li>
        <li>

        <p>舊廠如何進行轉型</p>
        </li>
      </ul>
      <p>　</p>
      <p>所以涉及環境稅、能源稅、產業升級、國土規劃法等。</p>
      <p>　</p>
      <p>目前國土規劃法裡，規定農田要做總量管制，有特定農業區，然後讓違章工廠就地合法。連水源地都是。但是如果讓農地旁邊緊隣著就是工廠在排放污染，這有什麼意義？</p>
      <p>為什麼不倒過來，要求工廠做總量管制？何況，台灣閒置的工業區很多，光竹南科學園區就空著，何不讓那些違章的工廠遷徙？</p>

      <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
      <h4>陳季芳的側記 </h4>
      
      <p>　</p>
      <p>時代力量柯劭臻，自認退無可退，「沒有退選的選項。」</p>
      <p>　</p>
      <p>她說，環保官司十打九輸，難得贏一場也緩不濟急，政府不甩，財團硬幹，打贏了官司，污染毀損已無可挽回，譬如美麗灣、苗栗大埔。但路還得走下去。</p>
      <p>突然我覺得她青絲中隱藏的白髮、眼眶裡密布的紅絲、無從掩飾的憔悴，感情特別耀眼。</p>

    </div>

    <div style="padding:24px;">
    <div class="fb-page" data-href="https://www.facebook.com/LawyerCo/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/LawyerCo/"><a href="https://www.facebook.com/LawyerCo/">柯劭臻 時代力量不分區立委</a></blockquote></div></div>
    </div>
    
    <div class="article-footer" style="padding:24px;">
      <!-- 
      <a href="/view/lu-d-jie" >下一篇：呂東杰：隱俠出江湖</a>
      -->
      <a target="_blank" href="https://donate.pay2go.com/npp/donate" >捐款支持時代力量</a><br />
      <br />
      <br />
      <a href="/view/imagelephant" >上一篇：柯一正：認真的遊戲者</a>
      <br />
      <br />
<a href="/view/JenniferLuTw" >下一篇：呂欣潔：柔和的勇猛</a>
 
      <br />
      <br />
      <a href="/" >看所有採訪文章列表</a>
    </div>

    <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<div style='padding:24px'>
  <h4>網友迴響</h4>
  <div class="fb-comments" data-width="100%" data-href="http://twunbound.github.io/view/LawyerCo" data-numposts="6"></div>
</div>
  </div>
  <!-- ENDS content -->
  <div class="clearfix"></div>
  <div class="shadow-main"></div>
</div>
<!-- ENDS MAIN -->
<footer style="clear:both;">
  <div class="wrapper">
    <section id="copyright">
      <p>本站內容採用 CC BY-NC-SA 3.0 授權分享。</p>
      <p>採訪：郝明義、陳季芳；LOGO 設計：Akibo</p>
      <p>網站設計：知名不具；<a href="https://github.com/twunbound/twunbound.github.io">Fork me on github.</p>
    </section>
    <div class="clearfix"></div>
  </div>
  <div id="to-top"></div>
</footer>
<div id="fb-root"></div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67262972-3', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
