<!DOCTYPE html>
<html lang="zh_TW"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>呂東杰：隱俠出江湖 (郝明義、 陳季芳)</title>
<meta charset="utf-8">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JS -->

<meta name="description" content="「土地的所有權屬於所有生物共有。人需要生活的空間，夠用就好，不能不斷地開發。」；" />

<meta property="og:image" content="http://twunbound.github.io/images/002-02.jpg" /> 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- ENDS Flex Slider -->
<!--[if IE 6]>
<link rel="stylesheet" href="css/ie6-hacks.css" media="screen">
<script src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="/css/lessgrid.css">

<link rel="stylesheet" media="all" href="/css/style.css">

</head>
<body>




<!-- mobile-nav -->
<div id="mobile-nav-holder">
  <div class="wrapper">
    <div id="nav-open"><a href="/">首頁</a></div>
  </div>
</div>
<!-- ENDS mobile-nav -->
<header class="header-2">
  <div class="wrapper"> <a href="/" id="logo"><img src="/images/logo.png" alt=""></a>
    <nav>
      <ul id="nav" >
         <li><a href="/">首頁</a></li>
         <li><a href="/#candidate">我們所"看見"的候選人</a></li>
      
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
<!-- MAIN -->
<div id="main">
  <!-- social -->
  <div id="content">
    <div class="header" >

      <a name="users" id="#candidate"></a>
      <div class="pull-right">
        <div class="fb-like" data-href="http://twunbound.github.io/view/lu-d-jie" data-layout="button_count" data-action="like" 
        data-show-faces="true" data-share="true"></div>
      </div>

      <h2 class="article-title">呂東杰：隱俠出江湖</h2>
      
      <p class="article-author">
        作者：<a  target="_blank" href="https://www.facebook.com/rexhow.dna/">郝明義</a>、
          陳季芳
      </p>

      <p class="article-time">2015/12/23 10:00 </p>
      <p>&nbsp;</p>
      <div class="greensdparty"> 
        <span class="label label-success">綠社盟</span>
        <span class="label label-success">桃園市第六選區</span>
        <span class="label label-success">八德區</span>
        <span class="label label-success">大溪區</span>
        <span class="label label-success">復興區</span>
        <span class="label label-success">中壢區</span>
      </div>

    </div>
    
    <hr />

    <div class="news-content "  >

      <img class="news-photo-1" src="/images/002-02.jpg" alt="呂東杰" />

<blockquote>土地的所有權屬於所有生物共有。人需要生活的空間，夠用就好，不能不斷地開發。</blockquote>

<h4 class="start"> 郝明義看到的這個人</h4>

<p>武俠小說裡，會有這樣一個場面：一個隱名埋姓的人，從床下挪出一條滿是塵埃的長布包。他慢慢打開捲布，露出其中的長匣；打開長匣，其中一柄烏黑劍鞘；抽出長劍，鋒利耀目。</p>

<p>我見呂東杰，和他一路談話的感受，大致就像在經歷那個場面。</p>

<p>人不可貌相。呂東杰是一個隱俠。</p>

<p>那天去桃園見他的時候折騰了一陣，因為他沒有競選服務處，約在外頭一些地方我的輪椅進出又不便，好不容易在一家簡餐店見了面。</p>

<p>初見很不好說這是個什麼樣的人。從他那一頭不少白髮開始，就看來年輕不年輕，但說老也不多老；工作不像是上班族，但是務農還是做工，也說不準；說競選，到底是像立委參選人，還是像立委參選人的志工，也皆可。</p>

<p>他讀黎明技術學院畢業，曾經在統一超商工作了十二年，從大夜班的工作，做到行銷經理，負責引進Duskin。做Duskin的時候，呂東杰學習日本清潔文化，早晚讀《心經》。也因為做Duskin，他認識了一家德國清潔設備公司，後來決定出來創業，經營一家主要代理德國洗掃地機和清潔劑的公司（普羅科琳）。</p>

<p>經營了六年之後，因為這段時間從德國公司那裡又學習到環保的概念，對大自然有了敬畏之心，一路加入了荒野保護協會，認識其他生命的價值，也體會到要尊重每種生命在大自然裡都有其居住權。</p>

<p>這樣，到六年前，呂東杰決定放棄「利益思維」，親身實踐自己的信念。
呂東杰本來可以把公司全部資產賣掉變現，那也可以有幾千萬元。</p>

<p>「可是我看公司的員工有三十多人。有些人都中年了，怎麼再找其他工作？」呂東杰說。「所以，我就把公司股份全部送給了員工，讓他們自己經營。」而他自己，則空手離開，開始去實踐他所相信的「自然農法」。</p>

<p>呂東杰說他從沒買過一棟房子。因為他相信土地不該為人所擁有，而應該是所有的生物所共有。但是他卻能因為受到退休老農的信任，接受委託，在兩塊各一甲的土地上實踐自然農法。</p>
<p>呂東杰說他尤其會種樹。所以台東那塊土地原來是柚子園，經過他的手五年後，現在成了一片森林。「可是我也發現，一個人的時間有限，不能光靠我一個人。」呂東杰說。於是他開始教育工作，教其他的農民也用他的方法耕作。</p>

<p>可是他又發現這樣也太慢。政府為了搞開發，徵收土地的速度太快。美麗灣、大埔、航空城案，都給了他衝擊。他之前就和綠黨有來往，到三年前就決定加入綠黨，從參加政治選舉開始，準備進入體制，從根本上解決問題。</p>

<p>2014年呂東杰就想競選桃園市長，但是因為保證金的門檻而沒能成。「政治參與本來應該是每個人的權利，但是在台灣卻成了權貴的遊戲。」他說。</p>

<p>這也更加強了呂東杰這次參選立委的決心，並且更決心打一場不一樣的選戰的決心。他也和其他許多人一樣，親自做街頭說明、拜訪鄉里之外，但是他不辦募款餐會。</p>

<p><img class="news-photo-1" src="/images/002-03.jpg" alt="呂東杰-採訪照" /></p>

<p>「我在百吉步道做生態解說，在公園裡做環境教育，使用我的專業知識，帶著逛公園的人了解園內生態，譬如埤塘。」呂東杰說，「我想借由這種公園教育，來幫助大家有些基本的生態。」</p>

<p>呂東杰的公園生態講解導遊，可以說就是他的募款活動。你捐點錢可以聽他講，不捐也可以聽他講。</p>

<p>他的對手是國民黨的孫大千。但他根本沒談孫大千什麼。</p>

<p>當隱俠扶劍而起，雖千萬人吾往矣的時候，對面多一個少一個人，不是他所顧慮的。</p>

<hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<h4>聽聽呂東杰說的話</h4>

<p>‪‎我為什麼一次又一次的參選‬？</p>

<p>因為我們很認真的保護台灣土地，做死做活，也趕不上政府開發破壞的速度。這不從觀念改變，是不行的。</p>

<p>2014 年我要參選桃園市長，明明知道選不上，還是參選，因為不踏出這第一步，我們的想法其他人就不會知道。</p>

<p>我們想把競選當做公民發聲平台，我們的政見和其他候選人有對等的能見度；這些政見，不見得要我親自去實施，只要當選的人願意把好的政見拿去用，我們的目的就達成了。</p>

<p>我覺得每次選舉，全是買票，什麼養老津貼多少戶、婦幼津貼多少，很可笑，這種做法並不是為台灣與人民著想。</p>

<p>結果，我湊不到 200 萬競選保證金，只好棄選。</p>

<p>這也是很好笑的事。政治本來應該全民參與，‪#‎政治在台灣卻變成了權貴遊戲‬，用錢擋你。選市長 200 萬，選立委 20 萬，行政官比民意代表貴，繳了入場券，才能競選。然後，繼續比錢多，看板、宣傳車、插旗、文宣，還有贈品，如面紙、原子筆，或者大家吃個炒米粉、貢丸湯。這樣錢撒下來，光是在桃園選議員，就得花 3000 萬。</p>

<p>立委的選區比議員大兩倍，錢也得花兩倍。</p>

<p>這造成了錢越多，越容易當選。不說別的，光是看板，越多越有能見度，光靠看板就可以選上。但民眾根本沒接觸到候選人，這人做了什麼，有什麼政見，不重要了。</p>

<p>民主先進國家不是這樣的，譬如德國，入場券的金額，大概只要台幣兩萬多。</p>

<p>美國，各個候選人不准插旗，文宣是張貼在各地方政府辦公地點，鄰里密集公辦政見會；在公園共同舉辦造勢活動，很公平，也就是選舉公共化，有錢並不重要，重要的是政策。</p>

<p>台灣的選舉文化太特別了，拼命花一次性的錢，當選後賺回來。</p>

<p>台灣選舉很艱困。但我還是要出來選，走進政黨、走進體制，才有希望改革、改變。</p>
‪
<b>我選擇綠黨和我觀念改變非常有關係‬。</b>


<p>我的工作是從7-11的門市大夜班，後來晉升到行銷經理，再後來到關係企業Duskin也是再從基層送貨員做起。 Duskin 企業文化日本原汁原味搬到台灣，每天早晚全體員工念心經，讓我逐漸認識了日本的清潔文化，重視永續。</p>

<p>這算是我環保意識的啟蒙，加入了荒野保護協會。我慢慢的體認到土地不是只屬於人，而是屬於所有生物。</p>

<p>我們必須很公平看待每一個不同的生命，人類不能為了自己，剝奪了其他生物的生命權利土地的所有權是屬於所有生物共有。譬如 30 坪土地，變成了水泥房子，其他生活就沒有生存空間了。</p>

<p>‎我這輩子沒買過房子‬，當然人需要生活的空間，但夠用就好，不能不斷地開發。土地拿來買賣，更是荒謬，非常不合理。也因為亂開發，所以才會有土石流之類的人為災害。</p>

<img class="news-photo-1" src="/images/002-01.jpg" alt="呂東杰" />

<p>我在宜蘭和大溪，各有一甲土地，可這些土地也不是我所擁有的，是退休的老農委託我經營的。</p>

<p>宜蘭那塊是柚子園，我讓柚子樹自生自滅，生物自然生活，5 年來變成了森林，可見樹木生物有它自然的生存法則，人類不該去破壞。</p>

<p>大溪這塊地，我用輪耕的方式，只耕作一半的土地，另一半雜草叢生，讓小生物居住，土地也獲得滋養。這種稻種菜，自己釀醬油，也足夠生活。</p>

<p>我覺得我自己這樣做還不夠，到各鄉村去推廣自然農法，也有人響應；我到各公園做生態，就立個牌子，人在旁邊等，有人願意，我就為帶他們到處參觀解說樹木花草，現在為了選舉，我放我募款箱，捐不捐沒關係。</p>

<p>我也到中小學校、幼稚園，拜託校長讓我在寒暑假開課，免費為小朋友講解生態，他們也很歡迎。‪#‎我希望每個人從小就建立了生態與環保觀念‬。</p>

<p>但是，這樣做有用嗎？我一個人可以照顧兩甲地，一百個人不過兩百甲，政府隨便一個開發案，超過我們十倍，一個航空城3,000公頃，大概也就是3,000甲地，一輛推土車，就毀了我們多少人多少時間的心血。</p>

<p>我們像愚公移山式的保護土地，永遠趕不上政府開發的速度。如果國土規劃、環保、農業政策的法令齊全就好了，我也不必這麼辛苦。</p>

<p>這只能在體制內改革，不走進體制不競選不行。這次選舉，我很有希望，依據國民黨的民調，七月開始競選活動，半個月的時間，我的支持度由3.5%跳到了 12%。</p>

<p>雖然我沒看板，不插旗，沒宣傳車，沒有媒體關注。但我親自拜訪每一位選民；我也是用最環保的方式競選，在每一個街角，利用紅綠燈換檔約一分鐘的時間，對機車騎士宣傳政見。</p>

<p>進入國會之後，我們綠黨很小，成立黨團很難，如果能獲得他黨合作提出法案是最好，至少我能做到讓國會透明化，公布協商內容，多讓人民理解國會在做什麼，這樣才能讓國會正常。</p>

<p>這當然有破壞性，但非常時期非常作法。</p>

<p>‪‎台灣一定得要有永續的觀念‬。</p>

<hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<h4>陳季芳的側記 </h4>

<p>大溪，慈湖所在地，慈湖路上，並不是一個友善的地方，處處有障礙，不便於輪椅。我們和呂東杰約，先到，也一直在電話裡改地點。星巴克不行，麥當勞不行，最後勉強找到了一家清爽的披薩店，呂東杰才匆匆趕到，所以，我見到一個穿著短褲、藍白拖、灰髮、稀稀疏疏幾絲鬍子的立委候選人。</p>

<p>只掠過一秒驚訝，立時遭到荒謬全面攻擊──荒謬的我站在荒謬的街道、荒謬的社會、荒謬的政治。</p>

<p>呂東杰是一個翻轉的人物。在都市體制中蒼老──小七的店長，又回歸於土地──自耕自足，對生態有無限的想像。</p>

<p>「土地所有權的概念，是生物共有，不是人類獨有。」</p>

<p>「但是，我們對土地的保護，永遠趕不上政府的開發。」</p>

<p>他很無力，他要選舉──用競選發聲。</p>

<p>我看著呂東杰，一片蒼茫的大地與孤獨的身影：枯藤老樹昏鴉，古道西風瘦馬。</p>

    </div>

    <div style="padding:24px;">
    <div class="fb-page" data-href="https://www.facebook.com/lu.d.jie.10" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/lu.d.jie.10/"><a href="https://www.facebook.com/lu.d.jie.10/">呂東杰</a></blockquote></div></div>
    </div>
    
    <div class="article-footer" style="padding:24px;">
      <!-- 
      <a href="/view/lu-d-jie" >下一篇：呂東杰：隱俠出江湖</a>
      -->
      <a target="_blank" href="https://docs.google.com/forms/d/1WCmyebM5j0qd0HL6ArjNl5bLoM2rRTZC3CVrKvHgwDg/viewform?c=0&w=1" >捐款支持呂東杰</a><br />
      <br />
      <br />
      <a href="/view/poyu-tseng2016" >上一篇：曾柏瑜：衝出巷口的決心 </a>
      <br />
      <br />
      <a href="/view/MiaoPoya" >下一篇：苗博雅：冰下有火 </a>
      <br />
      <br />
      <a href="/" >看所有採訪文章列表</a>
    </div>

    <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<div style='padding:24px'>
  <h4>網友迴響</h4>
  <div class="fb-comments" data-width="100%" data-href="http://twunbound.github.io/view/lu-d-jie" data-numposts="6"></div>
</div>
  </div>
  <!-- ENDS content -->
  <div class="clearfix"></div>
  <div class="shadow-main"></div>
</div>
<!-- ENDS MAIN -->
<footer style="clear:both;">
  <div class="wrapper">
    <section id="copyright">
      <p>本站內容採用 CC BY-NC-SA 3.0 授權分享。</p>
      <p>採訪：郝明義、陳季芳；LOGO 設計：Akibo</p>
      <p>網站設計：知名不具；<a href="https://github.com/twunbound/twunbound.github.io">Fork me on github.</p>
    </section>
    <div class="clearfix"></div>
  </div>
  <div id="to-top"></div>
</footer>
<div id="fb-root"></div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67262972-3', 'auto');
  ga('send', 'pageview');

</script>

</body></html>