<!DOCTYPE html>
<html lang="zh_TW"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>曾柏瑜：衝出巷口的決心 (郝明義、 陳季芳)</title>
<meta charset="utf-8">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JS -->

<meta name="description" content="和她見面的那天早上，下雨。她走進綠黨在台北辦事處，穿著雨衣的樣子，就和路上任何一位大學生的樣子沒什麼差別。當然，當她開始談話之後，就都不一樣了。" />

<meta property="og:image" content="http://twunbound.github.io/images/004-02.jpg" /> 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- ENDS Flex Slider -->
<!--[if IE 6]>
<link rel="stylesheet" href="css/ie6-hacks.css" media="screen">
<script src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="/css/lessgrid.css">
<link rel="stylesheet" media="all" href="/css/style.css">

</head>
<body>




<!-- mobile-nav -->
<div id="mobile-nav-holder">
  <div class="wrapper">
    <div id="nav-open"><a href="/">首頁</a></div>
  </div>
</div>
<!-- ENDS mobile-nav -->
<header class="header-2">
  <div class="wrapper"> <a href="/" id="logo"><img src="/images/logo.png" alt=""></a>
    <nav>
      <ul id="nav" >
         <li><a href="/">首頁</a></li>
         <li><a href="/#candidate">我們所"看見"的候選人</a></li>
      
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
<!-- MAIN -->
<div id="main">
  <!-- social -->
  <div id="content">
    <div class="header" >

      <a name="users" id="#candidate"></a>
      <div class="pull-right">
        <div class="fb-like" data-href="http://twunbound.github.io/view/poyu-tseng2016" data-layout="button_count" data-action="like" 
        data-show-faces="true" data-share="true"></div>
      </div>

      <h2 class="article-title">曾柏瑜：衝出巷口的決心 </h2>
      
      <p class="article-author">
        作者：<a target="_blank" href="https://www.facebook.com/rexhow.dna/">郝明義</a>、
          陳季芳
      </p>

      <p class="article-time">2015/12/22 </p>
      <p>&nbsp;</p>
      <div class="greensdparty"> 
        <span class="label label-success">綠社盟</span>
        <span class="label label-success">新北市第11選區</span>  
        <span class="label label-success">新店</span>  
        <span class="label label-success">深坑</span>  
        <span class="label label-success">石碇</span>  
        <span class="label label-success">烏來</span>  
        <span class="label label-success">坪林</span>  
      </div>

    </div>
    
    <hr />

    <div class="news-content "  >

      
      <blockquote>我的年齡和經驗，讓我看清世代正義、分配正義的問題。</blockquote>

<img class="news-photo-1" src="/images/004-01.jpg" alt="曾柏瑜" />
<h4 class="start"> 郝明義看到的這個人</h4>
<p>曾柏瑜是2016年所有立委參選人裡最年輕的一位。今年只有二十三歲。</p>

<p>和她見面的那天早上，下雨。她走進綠黨在台北辦事處，穿著雨衣的樣子，就和路上任何一位大學生的樣子沒什麼差別。當然，當她開始談話之後，就都不一樣了。</p>

<p>我寫《如果台灣的四周是海洋》，裡面有一章是＜被遮蓋希望的年輕人＞， 緊接在＜沒有下一棒的經濟＞之後。我談的，是年輕人在今天我們政府經濟發展思維裡的困境，以及因為沒有年輕人參與，我們經濟沒有新發展的困境。</p>

<p>但那一章主要談的是出了社會的年輕人。那天和曾柏瑜訪問的過程，則讓我第一次看到年齡層更往下的年輕人的困境，他們從還沒出社會，還在大學時期就背起的沉重負擔：學貸。</p>

<p>也正因為如此。我又特別為她是怎麼開始參與公民行動，以及走上參選立委的路，感到印象深刻。</p>

<p>曾柏瑜家是白色恐怖的受害者。國小的時候，曾柏瑜父親收到平反的賠償金，雖然一人只有幾千元，但父親卻對政治產生狂熱。也可能因為父親的影響，曾柏瑜在高中就對社會學感興趣，上人文科學營隊，想做社會改革。然後大學就讀政大社會系。</p>

<p>也因為家庭因素，曾柏瑜很早就開始工讀。2013年，她讀大三，平時接學校很多助理的case study，當補習班的小老師，還兼打一些其他的工。<p>
	
<p>那年7月18日下午，曾柏瑜在一間咖啡廳裡打工。就在清理桌子的當兒，她不經意地看到了電視上播出的大埔事件的新聞。</p>

<p>「我受到很大的震動。」曾柏瑜說，「我突然警覺到打工是為了維持生活，可以做想做的事，而不是一直打工，反而做不了自己想做的事。」</p>

<p><b>她知道自己不能只是讀社會系卻不投入社會運動‬。</b>經過兩個月的摸索和思考，加入了黑島青。</p>

<p>次年，318 學運爆發，她讀大四，就休學。全程參與，她負責的事都和人有關，像糾察站籌備和街頭審議式民主組長。後來退場晚會，也是她和蔡中岳一起主持的。</p>

<p>「結束後，有一兩個月我的情緒很低落。」曾柏瑜講話的時候，已經是在講別人事情的語氣了，「我覺得背負了大家的希望，卻又沒達成任何事情，而 318 ，不可能再來一次。」</p>

<p>曾柏瑜說，她在那段低潮一直在思考幾個問題：是否社會運動並沒法造成社會改革？為什麼更多人進來參與社會運動的時候，卻會把力量分散？還是她自己不適合？</p>

<p>「然後我想通了，」她說，</p>

<p>「社會運動和政治改革必須兩輪前進。否則，社會改革就會很慢，很小。」</p>

<p>這樣，2014 年 7、8 月曾柏瑜當了綠黨青年部的召集人，進行輔選。也招募志工。</p>

<p>我問她為什麼選擇綠黨。</p>

<p>「‪<b>‎重視人的政治才是值得嚮往的‬</b>」曾柏瑜說，「綠黨比較老，沒有年輕人，但綠黨也比較溫暖。政治需要改革，而綠黨可以寄望。」</p>

<p>後來，在我訪問過的幾天後，柏瑜的競選服務處開幕。</p>

<p>我去新店，中興路一段288巷1號，和中正路的交口。</p>

<p><b>曾柏瑜的對手是國民黨的羅明才</b>。當了十六年立委的羅明才，經費充足，買一個月廣告看板的錢，就等於曾柏瑜全部經費。曾柏瑜服務處巷口的路對面，就掛著羅明才大大的廣告看板。</p>

<img class="news-photo-1" src="/images/004-02.jpg" alt="曾柏瑜" />

<p>我跟曾柏瑜說：她選的這個位置很有意義。看起來，他們是侷促在一個巷子裡。但是如果他們真正衝出去，一步之外就是中興路和中正路的交通要衝。</p>

<p>很像今天被壓抑的年輕人，如果他們繼續安於被壓抑，就一直被壓在巷子裡，但是如果決心衝出去，就可以扭轉情勢。</p>

‪<p><b>‎所以這是一場小旗子對大看板的選戰‬</b>，也是年輕世代要衝出巷子口的選戰。</p>

<hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />

<h4>曾柏瑜自己說的話</h4>

<p>我當選，進立法院的話，希望發生的改革主軸和分配正義、世代正義有關，其中包括社會福利、長照、居住。當然，這樣也就一定會涉及稅制改革。在稅制改革上，以我的個性，和我相信的，都不怕打到太多有資源的人而影響政治生涯。</p>

<p>因為我是最年輕的參選人，以我的年齡和經驗，‪<b>特別看到年輕人的經濟壓力和貧富不均有關‬</b>。</p>

<p>許多年輕人，讀大學要背的學貸是很重的。一學期公立大學三到四萬元，私立大學四到八萬元的也有。四年下來大約要揹五十到一百萬元不等的學貸。</p>

<p>你讀書的時候打工，現在每小時120元。畢業出來找得到工作的話，每個月薪水 25,000元。這樣要什麼時候才還得完學貸？</p>

<p>所以今天年輕人綜合起來的問題是：</p>
<ol>
<li>低薪</li>
<li>還學貸</li>
<li>供養父母</li>
<li>養小孩就更不用想</li>
</ol>


<p>至於什麼時候才能存錢？當然就更不必想了。</p>

<p>我們父母的那一代，在我們這個年齡的時候，其實已經完成了很多的夢想，例如很多現在四、五十歲的人，在他們二十四、五歲時，其實已經有一份穩定的工作、結婚了，甚至很快可以存到房子的頭期款，也有可能創立一間小公司。</p>

<p>簡言之，對她們來說，在二十多歲時成家立業是一件很普通、正常的事情，但是對現在的年輕人來說，不要說成家立業了，以現在的薪水來說，要存錢都是一件困難的事了。</p>

<p>我參選的選區是新店。</p>

<p>這個區有五個區，101個里。沒有一個里長是民進黨籍。這裡有中央新村、調查局、空軍宿舍，也可以說是一個和318 完全沒有關聯的選區。1129的選舉，游錫堃在新北市也是只輸新店、中和。</p>

<p>而我的對手是國民黨的羅明才，他在這裡已經當了十六年的立委了。</p>

<p>我之所以選新店來參選，有幾個原因。</p>

<p>我外婆因為美河市的徵收而搬走，所以有淵源。我讀大學的時候，因為政大和新店很近，以前做社會調查，在坪林和深坑都工作過，所以可以把我在政大的資源和經驗都延伸到新店。</p>

<p>和羅明才對打這場選戰，當然很辛苦。我們最不利的，就是彼此資源的不對等太大。羅明才可以一口氣買20面大看板。幾百萬，相當於我們全部經費。</p>

<p>羅明才也開里長聯誼會，開各種支票：修路燈、修水溝、UBike，等等。</p>

<p>我完全沒有這些資源。所以就是提前跑，提前努力。到十月的時候，我每一個里長都打過電話。見過面的也有一半。其中明顯願意支持的有三到四個，可以相對友善介紹活動的有三十到四十個。</p>

<p>而羅明才可以輕易開的那些支票，我都沒法保證。我想破解選民對立委那些修水溝、修路燈的「服務」的迷思。而我也明白這種迷思會出現的根由是什麼：大家對政治已經失望，不相信「理想」，所以只相信實質的回報，雖然那些回報都很瑣碎。</p>

<p>我也看到機會點。</p>

<p>首先，大家對國民黨太失望了。去年國民黨的市議員票少了兩萬票（但沒到民進黨那裡）。</p>

<p>第二，新店由農業而工業而衛星都市，外來人口多，住宅社區，不容易被綁樁。</p>

<p>第三，20到40歲的選民人口，佔40%。</p>
 
<p>所以我想告訴大家的，‪<b>就是我可以為他們提供不同於過去的服務‬</b>。我想把我的社會學所學和所長，在新店實踐。</p>


<p>以今年八月蘇迪勒颱風造成烏來嚴重災情，我們參與搶救烏來，當時我們透過網路號召了大約一百人次的志工，進入烏來山上的原住民部落忠治部落，幫忙清理沖入民宅的泥沙。</p>

<p>也從這些出發點，我的競選政見裡最重要的是：‪<b>大台北行政區重劃</b>‬，大新店溪流域併入台北市。</p>

<p>其實大台北生活圈可以說非常的緊密，而現階段如同甜甜圈一般、由新北市供養台北市的行政圈劃分，對新北市來說不但不公平，對於管理和規劃也會產生不便。</p>

<p>舉新店為例子來說，這裡的通勤人口高達40%，但是因為行政區的劃分，這裡許多聯外道路塞車問題嚴重，而大眾交通運輸，例如公車和捷運，卻欠缺整體的規劃。</p>

<p>另外，台北市的水源百分之百來自大新店溪流域，可是保護和治理的責任卻落在新北市居民頭上，不但大新店溪流域的居民不公平，也讓自來水資源欠缺整體的管理和規劃。</p>

<p>但我也知道這不容易改變，所以，只要大家願意聽聽，‪<b>接受一些理念也就是很大的一步‬</b>。</p>

<p>我也很享受做這種溝通。因為我一直就相信：民主本身就有很大的溝通成本。</p>

<p>318學運，有些決策被批評不夠透明，坐在外頭二十四天的人，一直不知未來是什麼。包括最後的撤離，很多人覺得沒有參與討論。</p>

<p>所以，不論是參與318，還是參加這次選舉，我都不奢望直接民主，但是我相信應該多花時間與心力來溝通。我們追求民主的運動，反對的就是不民主，因此本來就該承擔這種溝通成本。</p>

<img class="news-photo-1" src="/images/004-03.jpg" alt="曾柏瑜" />

<p>我還有一個特長，是很會開會。世代差異使得年輕人在老師面前不敢開口。但我善於分析重點，也不怕吵架。‪<b>我相信這個特點尤其有助於我進了立法院之後的發揮‬</b>。</p>

<p>現在，選戰打到只差選舉一個月。也看到當了十六年立委的羅明才緊張起來。根據這裡的當地記者透露，以前他在11月才會開始選舉活動，例如買看板、會面里長。而這次他九月就掛上看板，對於選情相對來說是比較緊張的。</p>

<p>最後關頭，還是需要大家更支持我。我拍了很多影片，在Youtube及FB上都有，可以幫大家更了解我。</p>

<p>政治人物太多也都是曾經有理想，但又墮落。所以有些人對年輕人也有疑慮。</p>

<p>我希望大家相信我、支持我的，是我確實走過一段摸索、實踐的路。</p>

<p>我也很感謝像是黃武雄、姚立明、史英、陳來紅、簡錫堦、夏聖禮、賴中強、魏千峰等前輩、長者，願意支持我，加入我的顧問團，把我介紹給更多的人。</p>

<p><b>我不會讓他們失望的。</b></p>

<hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />

<h4>陳季芳的側記 </h4>

<p>前幾天才看了《五花鹽》，嘆為觀止，今天就碰到了《五花鹽》的編輯曾柏瑜。她23歲，投入了今年立委選戰，選區很艱困，對手是財力、人脈雙雄的羅明才。</p>

<p>兩年前的七月十八日，她在咖啡店打工，電視上播出了拆大埔的畫面，她想，念的是社會學，社會不公動亂，自己卻困在生活裡，念書有什麼用？於是，她辭職了，投入了社會運動。</p>

<p>318，她奮力投入，退場後，她又想到一個問題，「社會運動真的有助於社會改革嗎？」所以，她投入了選舉。</p>

<p>曾柏瑜對貧富差距，對弱勢青年，有超乎常人敏感，講到激動處，雙拳緊握。</p>
    </div>

    <div style="padding:24px;">
    <div class="fb-page" data-href="https://www.facebook.com/poyu.tseng2016" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/poyu.tseng2016"><a href="https://www.facebook.com/poyu.tseng2016">曾柏瑜</a></blockquote></div></div>
    </div>
    
    <div class="article-footer" style="padding:24px;">
      
      <a target="_blank" href="https://payment.allpay.com.tw/Donate/CreateDonateOrder?id=1128266" >捐款支持曾柏瑜</a><br />

      <br />
      <br />
      <p><a href="/view/lu-d-jie" >下一篇：呂東杰：隱俠出江湖</a></p>
      <br />
      <br />
      <a href="/" >看所有採訪文章列表</a>
    </div>
    
    <hr style="border:1px dashed black;margin-bottom:30px;margin-top:30px;" />
<div style='padding:24px'>
<h4>網友迴響</h4>
<div class="fb-comments" data-width="100%" data-href="http://twunbound.github.io/view/poyu-tseng2016" data-numposts="6"></div>
</div>
  </div>
  <!-- ENDS content -->
  <div class="clearfix"></div>
  <div class="shadow-main"></div>
</div>
<!-- ENDS MAIN -->
<footer style="clear:both;">
  <div class="wrapper">
    <section id="copyright">
      <p>本站內容採用 CC BY-NC-SA 3.0 授權分享。</p>
      <p>採訪：郝明義、陳季芳；LOGO 設計：Akibo</p>
      <p>網站設計：知名不具；<a href="https://github.com/twunbound/twunbound.github.io">Fork me on github.</p>
    </section>
    <div class="clearfix"></div>
  </div>
  <div id="to-top"></div>
</footer>
<div id="fb-root"></div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67262972-3', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
