<!DOCTYPE html>
<html lang="zh_TW"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>讓期待改革的人和進行改革的人相會</title>
<meta charset="utf-8">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JS -->

<meta name="description" content="2016大選的意義，不僅在於執政的政黨可能輪替，而更在於立法院所代表的國會可能如何改革。
對於國會改革，許多人都相信：國民黨需要教訓、民進黨需要制衡、代表年輕世代的第三力量要展現。這個計劃，就是希望能提供目前沒有資源、沒有人力的年輕改革力量一些支援，讓他們在做的事情得到多一些曝光的機會，使得期待改革的人能看到年輕人正在做些什麼，也使得進行改革的年輕人能得到期待改革的人的支持。" />

<meta property="og:image" content="http://twunbound.github.io/images/000-00.jpg" />


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- ENDS Flex Slider -->
<!--[if IE 6]>
<link rel="stylesheet" href="css/ie6-hacks.css" media="screen">
<script src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="/css/lessgrid.css">
<link rel="stylesheet" media="all" href="/css/style.css">
</head>
<body>




<!-- mobile-nav -->
<div id="mobile-nav-holder">
  <div class="wrapper">
    <div id="nav-open"><a href="/">首頁</a></div>
  </div>
</div>
<!-- ENDS mobile-nav -->
<header class="header-2">
  <div class="wrapper"> <a href="/" id="logo"><img src="/images/logo.png" alt=""></a>
    <nav>
      <ul id="nav" >
         <li><a href="/">首頁</a></li>
         <li><a href="/#candidate">我們所"看見"的候選人</a></li>
      
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
<!-- MAIN -->
<div id="main">
  <!-- social -->
  <div id="content">
    <div class="header" >

      <a name="users" id="#candidate"></a>
      <div class="pull-right">
        <div class="fb-like" data-href="http://twunbound.github.io/view/why" data-layout="button_count" data-action="like" 
        data-show-faces="true" data-share="true"></div>
      </div>

      <h2 class="article-title">讓期待改革的人和進行改革的人相會</h2>
      
      <p class="article-author">
        作者：<a target="_blank" href="https://www.facebook.com/rexhow.dna/">郝明義</a></p>

      <p class="article-time">2015/12/22 04:40 </p>
    </div>
    
    <hr />

    <div class="news-content "  >
      <img class="news-photo-1" src="/images/000-00.jpg" alt="郝明義" />
      <h4>從10月3日到明年1月7日</h4>
      
      <p>2016大選的意義，不僅在於執政的政黨可能輪替，而更在於立法院所代表的國會可能如何改革。 
      </p>
      <p>
      對於國會改革，許多人都相信：<strong>國民黨需要教訓、民進黨需要制衡、代表年輕世代的第三力量要展現</strong>。</p>

      <p>然而，在這次選舉活動中，我看到大量年輕人決定挺身而出，但是除了極少數例外，普遍面對沒有資源、沒有媒體曝光的機會的難處。</p>
      <p>換句話說，台灣的社會已經在期待並歡迎來自於年輕人、不同於國民黨和民進黨的改革力量，台灣的年輕人也已經開始進行對未來新的擘劃及改革藍圖，但是，
<strong>期待改革的人和進行改革的人還彼此㝷覓不得，互相沒有交集</strong>。</p>
      <p>從今年10月3日開始，我和陳季芳開始訪問「時代力量」和「綠黨社會民主黨聯盟」兩個政黨的立委候選人。包括區域和不分區，兩個黨共27人。</p>
      <p>我們想做的，就是希望能提供許多沒有資源、沒有人力、沒有媒體曝光度的年輕人一些支援，讓他們吶喊的聲音能被多一些人聽到，他們在做的事情能得到多一些被注意的機會。我們希望正在期待改革的人能看到這些年輕人正在做些什麼，也使得這些進行改革的年輕人能得到他們應有的支持。
</p>
      <p>&nbsp;</p>
      <p><strong>今天起，我們開始陸續發表各個人的訪問稿於 FB 粉絲頁與本站， </strong></p>
      <p>2016 年 1 月 7 日（星期四）下午兩點半，我們會做三件事：</p>
      <ul>
        <li>
          完整發表網站所有內容
        </li>
        <li>
          發表這三個月觀察的綜合報告
        </li>
        <li>
          在選前最後十天提出大家如何一起支援這些年輕人的建議
        </li>
      </ul>
      <p>希望大家可以支持、參與，謝謝。&nbsp;</p>
      
    </div>
    
    <div class="article-footer" style="padding:24px;">
      <!-- 
      <a href="/view/lu-d-jie" >下一篇：呂東杰：隱俠出江湖</a>
      -->
      <a href="/view/poyu-tseng2016" >下一篇：曾柏瑜：衝出巷口的決心 </a>
      <br />
      <br />
      <a href="/" >看所有採訪文章列表</a>
    </div>


<div style='padding:24px'>
<h4>網友迴響</h4>
<div class="fb-comments"  data-width="100%" data-href="http://twunbound.github.io/view/why" data-numposts="6"></div>
</div>

  </div>
  <!-- ENDS content -->
  <div class="clearfix"></div>
  <div class="shadow-main"></div>
</div>
<!-- ENDS MAIN -->
<footer style="clear:both;">
  <div class="wrapper">
    <section id="copyright">
      <p>本站內容採用 CC BY-NC-SA 3.0 授權分享。</p>
      <p>採訪：郝明義、陳季芳；LOGO 設計：Akibo</p>
      <p>網站設計：知名不具；<a href="https://github.com/twunbound/twunbound.github.io">Fork me on github.</p>
    </section>
    <div class="clearfix"></div>
  </div>
  <div id="to-top"></div>
</footer>
<div id="fb-root"></div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67262972-3', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
